:root,
[data-bs-theme="light"] {
  --bs-primary-color: #5123d8;
  --bs-dark-color: #0e2034;
}

html {
  scroll-behavior: smooth;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.bg-black {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.bg-primary-orange {
  background-color: var(--bs-primary-color);
}
.primary-orange {
  color: var(--bs-primary-color);
}
.org-btn {
  border: 1px solid var(--bs-primary-color);
  color: var(--bs-primary-color);
}
.org-btn:hover {
  background-color: var(--bs-primary-color);
  color: white;
}

.light-grey {
  color: #6c757d;
}

.bg-light-grey {
  background-color: #6c757d;
}

.center {
  text-align: center;
}

.move-up:hover {
  background-color: var(--bs-primary-color);
  color: white;
  transition: all 0.5s;
  transform: translateY(-10px);
}

.ng-mrg-t {
  margin-top: -50px;
}

.foot {
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bs-dark-color);
  color: white;
  text-align: center;
  top: 75px;
}

a {
  color: #6c757d;
}
a:hover {
  color: var(--bs-primary-color);
  text-decoration: none;
}

::selection {
  background: var(--bs-primary-color);
  color: #fff;
  text-shadow: none;
}
.footer-column {
  text-align: center;
}
.nav-link {
  padding: 0.1rem 0;
}
span.nav-link {
  color: #6c757d;
}
span.nav-link:hover {
  color: var(--bs-primary-color);
}
span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.fas {
  margin-right: 0.5rem;
}

footer {
  padding: 0 0 2rem 0;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: var(--bs-primary-color);
}

ul.social-buttons li a {
  font-size: 26px;
  line-height: 40px;
  padding-top: 6px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: var(--bs-dark-color);
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

/** My Style **/

.title-corbel {
  color: var(--bs-primary-color);
  font-family: "Corbel", sans-serif;
  font-weight: 600;
}

.service-title{
  text-align: center;
  color: var(--bs-primary-color);
  font-family: "Corbel", sans-serif;
  font-weight: 600;
}

.service-icon{
  text-align: center;
  color: var(--bs-dark-color);
}

.service-content{
  text-align: justify;
}

.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  background: var(--bs-primary-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff !important;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: var(--bs-dark-color);
  transform: translateY(-1px);
  text-decoration: none;
}

.full-height {
  height: 100%;
}

.bg-ghost {
  background-color: ghostwhite;
}

.card-text {
  max-height: 100px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease-out; 
}

.pointer {
  cursor: pointer;
}

.expanded {
  max-height: none;
  text-overflow: initial;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}